* {
	margin: 0;
	padding: 0;
}

body {
	color: #7A7A7A;
}

a {
	text-decoration: none;
	color: #7A7A7A;
}

a:hover {
	opacity: .7;
}

a.active {
	color: #274a92;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4 {
	color: black;
	font-weight: 500;
}